@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 31 7% 96%;
    --foreground: 100 4% 38%;

    --card: 31 7% 98%;
    --card-foreground: 100 4% 38%;

    --popover: 31 7% 98%;
    --popover-foreground: 100 4% 38%;

    --primary: 100 4% 38%;
    --primary-foreground: 31 7% 96%;

    --secondary: 31 7% 89%;
    --secondary-foreground: 100 4% 38%;

    --muted: 31 12% 87%;
    --muted-foreground: 100 2% 63%;

    --accent: 31 12% 87%;
    --accent-foreground: 100 4% 38%;

    --destructive: 11 44% 54%;
    --destructive-foreground: 31 7% 96%;

    --border: 31 7% 89%;
    --input: 31 7% 89%;
    --ring: 100 4% 38%;

    --radius: 0.75rem;

    --sidebar-background: 31 7% 98%;
    --sidebar-foreground: 100 4% 38%;
    --sidebar-primary: 100 4% 38%;
    --sidebar-primary-foreground: 31 7% 96%;
    --sidebar-accent: 31 7% 89%;
    --sidebar-accent-foreground: 100 4% 38%;
    --sidebar-border: 31 7% 89%;
    --sidebar-ring: 100 4% 38%;
  }

  .dark {
    --background: 100 4% 23%;
    --foreground: 31 7% 96%;

    --card: 100 4% 26%;
    --card-foreground: 31 7% 96%;

    --popover: 100 4% 26%;
    --popover-foreground: 31 7% 96%;

    --primary: 31 7% 96%;
    --primary-foreground: 100 4% 23%;

    --secondary: 100 2% 32%;
    --secondary-foreground: 31 7% 96%;

    --muted: 100 2% 32%;
    --muted-foreground: 31 7% 78%;

    --accent: 100 2% 32%;
    --accent-foreground: 31 7% 96%;

    --destructive: 11 44% 45%;
    --destructive-foreground: 31 7% 96%;

    --border: 100 2% 32%;
    --input: 100 2% 32%;
    --ring: 31 7% 78%;
    --sidebar-background: 100 4% 23%;
    --sidebar-foreground: 31 7% 96%;
    --sidebar-primary: 31 7% 96%;
    --sidebar-primary-foreground: 100 4% 23%;
    --sidebar-accent: 100 2% 32%;
    --sidebar-accent-foreground: 31 7% 96%;
    --sidebar-border: 100 2% 32%;
    --sidebar-ring: 31 7% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
